In [1]:
import pandas as pd

## Data Import and Preprocessing

In [2]:
df = pd.read_csv('STI Nikkei.csv')
df.head(5)

   Index        Date   Nikkei Open  STI Open
0    1.0  11/11/2009       9890.18   2718.01
1    2.0  11/12/2009       9921.45   2743.45
2    3.0    11/13/09       9793.19   2707.76
3    4.0    11/16/09       9784.14   2735.73
4    5.0    11/17/09       9834.58   2785.94

### dropna

In [3]:
df = df.dropna()
print(df)

       Index        Date   Nikkei Open  STI Open
0        1.0  11/11/2009       9890.18   2718.01
1        2.0  11/12/2009       9921.45   2743.45
2        3.0    11/13/09       9793.19   2707.76
3        4.0    11/16/09       9784.14   2735.73
4        5.0    11/17/09       9834.58   2785.94
...      ...         ...           ...       ...
2995  2996.0    2/8/2022      27318.30   3380.02
2996  2997.0    2/9/2022      27488.65   3397.05
2997  2998.0   2/10/2022      27818.10   3420.63
2998  2999.0    02/14/22      27305.92   3419.52
2999  3000.0    02/15/22      27183.56   3418.23

[2893 rows x 4 columns]

### X & Y split

In [16]:
X = df.loc[:, [" Nikkei Open"]] # cannot be df.loc[:, " Nikkei Open"], require 2D input
Y = df.loc[:, ["STI Open"]]

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y) # 0.72:0.25

## Linear Regression

### Model Building

In [18]:
from sklearn import linear_model
model = linear_model.LinearRegression().fit(X_train, Y_train)

### Prediction

In [21]:
pred = model.predict(X_test)

### Evaluation

In [24]:
from sklearn.metrics import mean_squared_error
print(mean_squared_error(Y_test, pred))

55380.561489723375

### Output the Model

In [26]:
import joblib
joblib.dump(model, "STI_REG")

['STI_REG']

### Test the Model

In [28]:
model_test = joblib.load("STI_REG")
print(model_test.predict([[9500]])) # 2D input

[[3013.57309452]]